<section class="my-profile">
  <div class="user-profile">
    <div class="container">
      <div class="row about">
          <div class="col s12 m4 l3">
            <div  class="avatar">
            {{- with .Params.avatar }}
              <img src="{{ . }}" alt="">
            {{ end }}
            </div>
          </div>
          <div class="col s12 m8 l9">
            <div class="aboutme">
            <h4>{{ .Params.name }}</h4>
              {{ .Content }}
            </div>
            <div class="social">
              <a href="{{ .Params.facebook }}" target="_blank" rel="noopener"><span><i class="fab fa-facebook-f"></i></span></a>
              <a href="{{ .Params.twitter }}" target="_blank" rel="noopener"><span><i class="fab fa-twitter"></i></span></a>
              <a href="{{ .Params.website }}" target="_blank" rel="noopener"><span><i class="fas fa-blog"></i></span></a>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
