{{ range first 10 (where .Pages "Section" "posts") }}
<article id="{{ range  $tags := .Params.tags }} {{ $tags| lower }}{{ end }}" class="post-contents {{ range  $category := .Params.categories }} {{ $category | lower }}{{ end }}"
    itemtype="http://schema.org/Article">
    <div class="card horizontal">
        <a class="card-image" href="{{ .Permalink }}">
            <div class="thumb-img" style="background-image: url({{ .Params.image }});"></div>

        </a>
        {{- partial "summary.html" . -}}
    </div>
</article>
{{ end }}