
<div class="author">
    
    {{- range .Params.authors }}
    {{ $authorPath := printf "authors/%s" (urlize .) }}
    {{- with $.Site.GetPage "taxonomyTerm" $authorPath }}
        {{ partial "author-avatar" . }}
    {{ end }}
    {{ end }}

    {{- range $index, $element := .Params.authors }}
    {{ if gt $index 0 }} & {{ end }}
    <span class="byline">
        <a href="/authors/{{ urlize . }}">{{ . }}</a>
    </span>
    {{ end }}

</div>

  
