<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
            {{- partial "header.html" . -}}
        <main class="main-container">
            {{- block "main" . }}{{- end }}
        </main>
        {{- partial "bodyend.html" . -}}
        {{- partial "footer.html" . -}}
    </body>
</html>
