<section class="grid-featured">
    <div class="row featured-row">
        <div class=" col s12 m8 l8">
            {{ range first 1 (where .Pages "Section" "posts") }}
            <a class="card-image" href="{{ .Permalink }}">

                <img class="f-thumb-img" src="{{.Params.image}}">

            </a>
            {{ end }}
        </div>
        <div class=" d col s12 m4 l4">
            {{ range first 3 (where .Pages "Section" "posts") }}
            <a class="card-image" href="{{ .Permalink }}">

                <img class="sthumb-img" src="{{.Params.image}}">

            </a>
            {{ end }}


        </div>
    </div>
</section>