{{ define "main" }}
{{ .Render "carousel" }}
<section id="posts-area" class="content-area">
  <div class="container">
    <div class="row">
      <div class="col s12 m8 l9">

        <div class="container content-archive">
          <div class="row">

            <div class="col s12 m4 l3 sidebar-right">
              <!-- Grey navigation panel -->
              {{ partial "categories.html" . }}
            </div>
            <div class="col s12 m8 l9">
              {{ .Render "articles" }}
            </div>
          </div>
        </div>

      </div>
      <div class="col s12 m4 l3 sidebar-right">
        {{ partial "sidebar.html" . }}
      </div>
    </div>
  </div>
</section>

{{ end }}