{{ define "main" }}
<div id="main">
  <section class="page-header">
    <div class="container">
      <h1 class="contact-title">{{ .Title }}</h1>
      <p class="contact-content">{{ .Description }}</p>
    </div>
  </section>

  <section class="content-section pt">
    <div class="container">
      <article id="content single-post">
        {{ .Content }}
      </article>
    </div>
</div>
</section>
{{ end }}