figure {
    width: 100%;
    margin: 0;

    img {
        margin: 0 0 10px 10px;
        border: 1px solid #749b85;
        box-shadow: 0 0 10px #92baa7;
        padding: 2px;
        border-radius: 3px;
        width: calc(100% + 2em);
        margin-left: -1em;
        display: block;

        @media #{$medium-and-up} {
            width: 120%;
            margin-left: -10%;
        }
    }
}

.highlight {
    margin: 0 0 10px 10px;
    border: 1px solid #749b85;
    box-shadow: 0 0 10px #92baa7;
    padding: 2px;
    border-radius: 3px;
    width: calc(100% + 2em);
    margin-left: -1em;
    display: block;

    @media #{$medium-and-up} {
        width: 120%;
        margin-left: -10%;
    }
}