.card.horizontal {
    display: block;

    @media #{$extra-large-and-up} {
        display: flex;

        .card-image {
            min-width: 50%;
            display: block;
            padding: 8px;
            position: relative;

            .thumb-img {
                margin: 0;
                margin-left: -20px;
                width: 360px;
                height: 100%;
            }
        }
    }

    .card-image {
        position: relative;

        .thumb-img {
            background-size: cover;
            background-position: 50%;
            background-color: #e8e8e8;
            border-radius: 3px;
            will-change: transform;
            box-shadow: 0 10px 40px 0 rgba(62, 57, 107, .2), 0 2px 9px 0 rgba(62, 57, 107, .2);
            padding-top: 50%;
            display: block;
            position: relative;

        }
    }


}

.card {
    .card-content {
        padding: 20px 24px;
    }

    .card-action {
        display: flex;
        justify-content: space-between;
    }
}


.author {
    color: #9b9b9b;
    font-size: 12px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;

    img {
        border-radius: 32px;
        margin-right: 10px;
        width: 30px;
        height: 30px;
    }

    span {
        font-weight: bold;
    }
}

#posts-area {
    padding: 30px 0;

    .content-archive {
        width: 100%;

        .post-contents {
            .post-title {
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
}