.sidebar-right{
    width: 100%;
}

.sidebar-menu {
    display: none;
}
  @media screen and (min-width: 438px) and (min-width: 500px){
    .sidebar-menu {
        display: block;
        background: #ebebeb;
        border-right: 1px solid #bdbdbd;
        height: 100%;
      }
      
      .nav {
        list-style-type: none;
        margin-top: 0;
      }
      
      .nav li {
        background-color: #F0F0F0;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$lightColor , endColorstr=$darkColor);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#DBDBDB));
        background-image: -moz-linear-gradient(top, #F0F0F0, #DBDBDB);
        background-image: -o-linear-gradient(top, #F0F0F0, #DBDBDB);
        background-image: linear-gradient(top, #F0F0F0, #DBDBDB);
        border-bottom: 1px solid #BDBDBD;
        border-top: 1px solid white;
        height: 42px;
        line-height: 42px;
        margin-left: -20px;
      }
      
      .nav li:last-child {
        -webkit-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0px 2px 10px 0 rgba(0, 0, 0, 0.1);
      }
      
      .nav li a {
        color: #616161;
        display: block;
        margin-left: 20px;
        text-decoration: none;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
      }
      
      .nav li.active {
        border-top: 1px solid #ee6e73;
        border-bottom: 1px solid #f55258;
        -webkit-box-shadow: inset 0px 1px 0px 0 rgba(255, 255, 255, 0.2);
        -moz-box-shadow: inset 0px 1px 0px 0 rgba(255, 255, 255, 0.2);
        box-shadow: inset 0px 1px 0px 0 rgba(255, 255, 255, 0.2);
        background-color: #dd777a;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$lightColor , endColorstr=$darkColor);
        background-image: -webkit-gradient(linear, left bottom, left top, from(#dd777a), to(#ee6e73));
        background-image: -moz-linear-gradient(bottom, #dd777a, #ee6e73);
        background-image: -o-linear-gradient(bottom, #dd777a, #ee6e73);
        background-image: linear-gradient(bottom, #dd777a, #ee6e73);
        position: relative;
      }
      
      
      
      .nav li.active a {
        color: white;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
      }
    
  }


  aside{
    box-shadow: 0 0 7px rgba(0,0,0,0.1);
  }


.about-dev {
  width: 100%;
  max-width: 26rem;
  margin: auto;
  box-shadow: 2px 4px 2px -2px rgba(0, 0, 0, .3), -2px -4px 15px -2px rgba(0, 0, 0, .2);
  animation: profile_in 0.8s;
  margin-top: 32px;
  @media screen and (min-height: 46em) {
      max-width: 26rem;
  }


@keyframes profile_in {
  0% {
    opacity: 0;
    transform: translateY(30%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


  /* profile card header */

  .profile-card_header {
    background: #272727;
    border-left: 0.625rem solid #97ece1;
    padding: 1.5em 1.5em 1em;
    text-align: center;
    @media screen and (min-width: 33em) {
        padding: 1.5em 4em 1em;
    }
    .profile-card_header-container {
      max-width: 15rem;
      margin: auto;
      .profile-card_header-imgbox {
        display: block;
        width: 9.5rem;
        height: 9.5rem;
        overflow: hidden;
        border-radius: 50%;
        margin: auto;
        background: rgba(250, 214, 195, 1);
        border: 0.375rem solid rgba(250, 214, 195, 1);
        img {
          max-width: 100%;
          filter: grayscale(100%);
        }
      }
      h1 {
        color: #f3f3f3;
        font-size: 1.5rem;
        margin-top: 0.8em;
        font-family: 'Oswald', sans-serif;
        font-weight: normal;
        position: relative;
        span {
          font-size: 1.2rem;
          font-weight: 300;
          display: block;
          color: rgba(220, 220, 220, .95);
          margin-top: 0.25em;
          padding-top: 0.25em;
          border-top: 0.075em solid rgba(250, 214, 195, 1);
        }
      }
    }
    
  }


  .profile-card_about {
    line-height: 1.5;
    background: #ededed;
    padding: 1.5em 2rem;
    color: #222;
    font-family: 'Lato', sans-serif;
    h2 {
      margin: 0;
      display: inline-block;
      color: #333;
      font-weight: normal;
      text-transform: uppercase;
      font-size: 1.3rem;
      position: relative;
      z-index: 2;
      vertical-align: middle;
    }
    h2::before {
      content: '';
      position: absolute;
      width: 110%;
      height: 1rem;
      background: #c6f1eb;
      left: -5px;
      top: 50%;
      z-index: -1;
    }
    p {
      font-weight: 300;
    }
    .profile-card_footer {
      margin-top: 1.5em;
      text-align: right;
      .back-to-profile,
      .back-to-profile:visited {
        display: inline-block;
        padding-left: 0.5em;
        padding-bottom: 0.1em;
        color: #222;
        text-decoration: none;
        font-weight: bold;
        border-top: 0.3125rem solid rgba(0, 0, 0, 0);
        border-bottom: 0.3125rem solid #97ece1;
        -webkit-transition: border 0.3s ease-in-out;
        transition: border 0.3s ease-in-out;
      }
      .back-to-profile::after {
        content: "\25b6";
        margin: 0 0.75em;
        color: #222;
      }
      .back-to-profile:hover,
      .back-to-profile:focus {
        border-top-color: #222;
        border-bottom-color: #fdc1a0;
      }

    }
  }
}