.FlexEmbed:before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 56.25%;


}

.CoverImage {
    max-height: 600px;
    max-width: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #FAFAFA;
    box-shadow: 0 7px 10px 0 rgba(0, 0, 0, .5);
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #749b85;
}

.post {
    background: #fff;
    padding: 20px;

    @media #{$medium-and-up} {
        position: relative;
        margin: 0 auto;
        max-width: 52em;
        top: -96px;
        padding: 64px
    }
}

.sharing {
    a {
        font-size: 30px;
    }
}