{{ define "title" }}
<!-- This will override the default value set in baseof.html; i.e., "{{.Site.Title}}" in the original example-->
{{ .Title }} &ndash; {{ .Site.Title }}
{{ end }}
{{ define "main" }}
<div class="container">
    <div class="row">
        <div class="col s12 l12">
            <div class="thumb-img FlexEmbed CoverImage" style="background-image: url({{ if and (.Params.image) (ne .Params.image "") }}/{{ .Params.image }}{{ else }}/image/theme/default.png{{ end }});"></div>
        </div>

        <div class="col s12 l12">
            <div class="row">
                <div class="col s12 m7 l8">
                    <article class="article post" itemscope itemtype="http://schema.org/Article">
                        <header>
                            <h1>{{ .Title }}</h1>
                            <!-- <p>{{ .Render "author-link" }}</p> -->
                        </header>

                        <div class="article-style" itemprop="articleBody">
                            {{ .Content }}
                            {{ partial "sharing" . }}
                        </div>
                    </article>
                </div>
                <div class="col s12 m5 l4">
                    {{- range .Params.authors }}
                    {{ $authorPath := printf "authors/%s" (urlize .) }}
                    {{- with $.Site.GetPage "taxonomyTerm" $authorPath }}
                    {{ partial "aside-about" . }}
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}