{{ $title := .Title }}
{{ $url := printf "%s" .Permalink | absLangURL }}
{{ $body := print $title ", by " .Site.Title "\n" .Params.description "\n\n" $url "\n" }}
<div class="sharing">
  <a href="//www.facebook.com/sharer.php?u={{ $url }}" target="_blank" rel="noopener" class="facebook" aria-label="share on Facebook">
    <i class="fab fa-facebook-f"></i>
  </a>
  <a href="//twitter.com/share?url={{ $url }}&text={{ $title }}&via={{with .Site.Social.twitter }}{{ . }}{{ end }}"
    target="_blank" rel="noopener" class="twitter" aria-label="share on Twitter">
    <i class="fab fa-twitter"></i>
  </a>
</div>