<div class="card-stacked">
    <div class="card-content">
        <div class="post-title">
            <a class="link dim dark-green" href="{{ .Permalink }}">{{ .Title }}</a>
        </div>
        <header>
            <div> Hot Article : {{ .Date.Format "Monday, 2 Jan, 2006" }} </div>
        </header>
        <p>{{ .Summary | truncate 100 }}</p>
    </div>
    <div class="card-action">
        {{ .Render "author-link" }}
        <footer class="">
            <a href='{{ .Permalink }}'>
                <nobr>Read more →</nobr>
            </a>
        </footer>
    </div>

</div>