<!-- Random post widget -->
{{- $recent := where .Site.RegularPages "Section" "in" (.Site.Params.postSections | default (slice "posts")) }}
{{- $recent_num := (.Site.Params.widgets.recent_num | default 10) }}

{{- if $recent }}
<div class="widget-random widget">
		<h4 class="widget-title">Trending Posts</h4>
	  <div class="widget-content popular-posts">
		<ul>
			{{- range first $recent_num (shuffle $recent) }}
		  	<li>
				<div class="item-thumbnail">
					<a href="{{ .RelPermalink }}">
						<img alt="{{ .Title }}" class="circle" src="{{ if and (.Params.image) (ne .Params.image "") }}/{{ .Params.image }}{{ else }}/image/theme/default.png{{ end }}" border="0" height="72" width="72">
					</a>
					<span class="title">
						<a href="{{ .RelPermalink }}">{{ .Title }}</a>
					</span> 
				</div>
				<div style="clear: both;"></div>
			</li>
			{{- end }}
		</ul>
	  </div>
</div>
{{- end }}